@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.phonebookBlock{
  margin-left: 15px;
}

.contactNameList{
  list-style: none;
  padding: 0;
  width: 700px;
}

.contactName{
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  background-color: rgba(213, 230, 222, 0.9);
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  color: rgb(40, 64, 48);
  cursor: pointer;
}

.delete{
  background-color: rgba(255, 204, 203);
  border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: rgb(40, 64, 48);
    cursor: pointer;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 250px;
}

.filter{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}
